# /lib/systemd/system/sockd.service
[Unit]
Description=Dante Socks5 Daemon, Provider by sockd.info
Documentation=https://github.com/lozy/danted
ConditionPathExists=/etc/danted/sockd.conf
ConditionPathExists=/etc/default/sockd
#ConditionPathExists=!/var/run/sockd.pid

[Service]
EnvironmentFile=-/etc/default/sockd
ExecStart=/etc/danted/sbin/sockd -f /etc/danted/sockd.conf -N ${Start_Process} ${Sockd_Opts}
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/sockd.pid
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=sockd.service